<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>

		<listener class-name="com.naveenautomation.Listeners.CustomListener" />
		<listener class-name="com.naveenautomation.Listeners.TransformerForRetry" />
		<listener class-name="com.naveenautomation.Listeners.ExtentReportListener" />
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.naveenautomation.Tests.AccountLoginPageTest"/>
      <class name="com.naveenautomation.Tests.MyAccountPageTest"/>
      <class name="com.naveenautomation.Tests.GiftCertificatePageTest"/>
      <class name="com.naveenautomation.Tests.ContactUsPageTest"/>
      <class name="com.naveenautomation.Tests.NewsLetterPageTest"/>   
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
